*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

    scroll-behavior: smooth;

}

html body{
    overflow-x: hidden !important;
}

body.no-scroll{
    overflow: hidden;
}


:root{
    --lightWhite: #E0E0E0; 
}

button{
    outline: none;
    border: none;

    cursor: pointer;
}


/* Main page */


.quote{
    display: flex;
    justify-content: center;
    color: white;

    font-family: "Pacifico", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;


    text-align: center;
}

.landingPage{
    background-image: url(images/group1.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 20px;
    padding-bottom: 100px;

    position: relative;
    
}
.mainPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;

    width: 90%;
    margin: 0 auto;

    max-width: 1400px;

}

.mainRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    z-index: 1;

    position: relative;

}
.mainImage{
    width: 100%;
    z-index: 2;
}

.haloImage{
    position: absolute;
    left: 0;
    top: 50px;
    width: 325px;
    height: auto;
    animation: subtleUpAndDown 3s linear infinite;
    animation-direction:alternate-reverse;

    transform-origin: center;
}


.assetImages{
    position: absolute;
    font-size: 4rem;

    color: rgba(0, 170, 255,0.9);

    animation: subtleUpAndDown 10s linear infinite;
    animation-direction: alternate-reverse;

}

.fa-camera{
    bottom: 180px;
    left: 75px;



}
.fa-clapperboard{
    top: 250px;
    right: 100px;
}



@keyframes subtleUpAndDown{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}


.mainLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 40%;
    min-width: 407px;

    
    z-index: 1;
}

.mainLeft h1{
    font-size: 5rem;
    color: white;
    line-height: 0.9;

    margin-bottom: 40px;
}

.mainLeft h1 span{
    color: rgba(0, 170, 255,0.9);
    font-family: "Pacifico", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;

    position: relative;

}

.mainLeft h1 span::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: 25px;
    left: 0;

    position: absolute;
}


.mainLeft h5{
    font-size: 3rem;
    color: white;
    font-weight: 400;
    margin-bottom: 40px;
}
.mainLeft h5 span{
    color: rgba(0, 170, 255,0.9);
    font-family: "Pacifico", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    

}

.mainButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.mainButtons button{
    outline: none;
    border: none;

    font-size: 1.2rem;

    background-color: white;
    padding: 15px 30px;


    width: fit-content;

    transition: all 0.3s;

    border-radius: 10px;
}

.mainButtons button:hover{
    background-color: #D6D6D6;
}

.mainButtons button:active{
    background-color: #BFBFBF; 
}

.filmStrip{
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 0;
    opacity: 0.3;

    transform: rotate(-30deg);
}

/* Socials Page */

.mySocials{

    background-color: var(--lightWhite);
    min-height: 150px;
    padding: 20px;
}

.socialsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socialMedia{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 50%;

    gap: 20px;

    font-size: 1.4rem;
}

.socialMedia i{
    padding-right: 10px;
}


/* My Work Page */

.myWork{
    background: #37474F;
}

.workTitle{
    font-size: 4rem;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}


.myWork .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;

    flex-wrap: wrap;

    padding: 0 50px;

    padding-bottom: 100px;
    

}
a{
    color: black;
}

.myWork a{
    text-decoration: none;
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: fit-content;
    background-color: var(--lightWhite);

    width: 500px;
    height: auto;

    border-radius: 10px;


}

.containerLeft{
    aspect-ratio: 16 / 9;
    overflow: hidden;
    
    position: relative;

 
}

.containerLeftImg{
    width: 100%;
    object-fit: cover;

    transition: all 0.3s;

    border-radius: 10px;
}

.containerRight{
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}








.coverContainer{
    position: absolute;

    background-color: rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transition: all 0.3s;

    z-index: 3;
    
}


.container:hover{
    .containerLeftImg{
        scale: 1.02;
    }

    .coverContainer{
        background-color: rgba(0,0,0,0);
    }

}















/* Other Pages */

.filmsBody{
    background: #37474F;
}

.mainHeader{
    width: 100%;
    height: 100px;

    background-color: var(--lightWhite);

    display: flex;
    justify-content: center;

    overflow-x: hidden;
}

.mobileNav{
    display: none;
}

.navOpen::before{
    display: none;
}

.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 40px;

    width: 90%;
}
.mainNav a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nameNav{
    margin-right: 50px;
}

.nameNav:hover{
    color: black !important; 
}

.navLinks{
    transition: all 0.4s;
}


.navLinks.active{
    color: #00aaff;
}

.navLinks.active:hover{
    color: #00aaff;
}

.navLinks:hover{
    color: rgba(51, 191, 255,0.6);
}
.mainTitle{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
}

.videoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    aspect-ratio: 16 / 9;
    width: 85vw;

    padding-top: 100px;
    padding-bottom: 100px;

    margin: 0 auto;

    gap: 100px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;


}

.videoTitle{
    font-size: 2rem;

    color: white;

    margin-bottom: 20px;
    
}

.video iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}








/* Portraits */

.portraitsContainer{
    max-width: 1224px;
    width: 90%;
    margin:  0 auto;
    padding: 40px 0px;
}

.portraitTitle{
    margin-bottom: 50px;
}

.photoGallery{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    gap: 20px;


    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 350px;
}

.photo{
    transition: all 0.3s;
}

.photo img{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    object-fit: cover;
}

.photo:hover{
    cursor: pointer;
    scale: 1.02;
}

.closingButton:hover{
    cursor: pointer;
}


.photo.active{
    background-color: rgba(214, 214, 214, 0.9);
    position:fixed;



    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: auto;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

    img{
        width: auto;
        max-height: 90vh;
        max-width: 100%;
        
    }
    

}


i.fa-solid.fa-xmark.closingButton{
    display: none;
}

i.fa-solid.fa-xmark.closingButton.active{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;

    font-size: 1.5rem;

    z-index: 2;


    background-color: white;
    color: black;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    border-radius: 50%;
}




.footerBig{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    background-color: #333333;
    padding: 50px 100px;


    flex-wrap: wrap;
}


a{
    text-decoration: none;
    color: inherit;
}


.footerRight{
    color: white;
}


.footerRight div{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-size: 1rem;

    gap: 15px;
}

.footerRight i{
    font-size: 1.5rem;
}

.footerRight a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    line-height: 0;
}

.footerMid{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}

.footerMid h1{
    padding-bottom: 20px;
}



footer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 5px;

    color: white;

}

.contactInputs{
    padding: 15px 100px 15px 5px;
    width: 100%;

    border-radius: 5px;




    
    outline: none;
    border: none;
    background-color: var(--lightWhite);



    color: white;
}

form input::placeholder{
    color: gray;
}

footer textarea{
    min-height: 75px;
    max-height: 100px;
    width: 100%;
}

form textarea::placeholder{
    color: gray;
}


form button{
    width: 100%;

    border: none;
    outline: none;

    background-color: rgba(0, 170, 255, 1);

    height: 40px;
    
    border-radius: 5px;
}







.footerSmall{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;

    height: 70px;

    text-align: center;
    padding: 10px 20px;
}

.footerSmall span{
    border-bottom: 2px solid blue;
    color: blue;
}












@media(max-width: 1000px){

    .quote{
        padding-top: 30px;
        padding-bottom: 0px;
    }


    .mainPage{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        margin-top: 50px;
    }

    .mainLeft{
        width: 80%;
        align-items: center;
        min-width: fit-content;
    }

    .mainRight{
        transform: scale(0.8);
    }


    .mainButtons{
        align-self: center;
    }


    .socialMedia{
        width: 90%;
    }



    .video{
        width: 90%;
    }







    .footerBig{
        gap: 100px;
        padding: 100px;
        justify-content: center;
    }

    footer form{
        width: clamp(200px, 70%, 70%);
    }


}



@media(max-width: 768px){
    .mainNav{
        display: none;
    }
    .mobileNav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        width: 85%;

        text-align: left;

        font-size: 1.2rem;
    }
    .nameNav{
        font-size: 1.5rem;
    }

    .mainHeader{
        height: 100vh;
        width: 100%;
        right: -105%;
        position: fixed;

        transition: all 2s;

        z-index: 2;

    }

    .mainHeader.active{
        right: 0;
    }
    .navOpen, .navClose{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 1.5rem;
        cursor: pointer;

        transition: all 1s;

        pointer-events: auto;


    }
    .navOpen::before{
        display: block;
        color: white;
    }

    .navClose.active, .navOpen.active{
        display: none;
    }


}



@media(max-width: 650px){

    .mainLeft h1, .mainLeft h5{
        text-wrap: wrap;
    }

    .mainLeft h1{
        font-size: 15vw;
    }

    .mainLeft h5, .mainLeft h5 span{
        font-size: 10vw;

    }

    .mainLeft button{
       font-size: 4vw; 
    }

    .mainRight{
        scale: 0.9;
        margin-top: -50px;
    }

    .video{
        width: 100%;
    }

    .filmsMain .mainTitle{
        font-size: 2.5rem;
    }


    
    .socialMedia{
        width: 95%;
    }








    .workTitle{
        font-size: 3rem;
        padding-top: 50px;
        padding-bottom: 75px;
    }
    

    .container{
        width: 400px;
        height: auto;
    }


    .footerSmall{
        height: 100px;
    }


}





@media(max-width: 450px){
    .mainLeft h1 span::after{
        bottom: 15px;
    }

    .mainRight{
        scale: 0.7;
    }






    .workTitle{
        font-size: 10vw;
    }

    .container{
        width: 90vw;
    }

    .container h3{
        font-size: 5vw;
    }

    .container p{
        font-size: 3vw;
    }

    .containerRight{
        padding: 20px;
    }


    .videoTitle{
        font-size: 6vw;
        text-align: center;
    }


    .footerBig{
        width: 100%;
        padding: 15px;
    }

    .contactInputs{
        width: 100%;
      
    }
}
